@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700,400italic);

*{box-sizing:border-box;}
body{margin:0;}

html, body {width:100%;height:100%;margin:0;}
body {
    font-family:"Lato",sans-serif;
    margin:0;
    font-size: 1em;
    line-height:normal;
    color: #333;
}
h1,h2,h3,h4,
.fancy-font,
.minititulo,
h3.side,
.top-nav {
    font-family: "Old Standard TT", serif;
    font-weight: normal;
    margin-top: 0;
}
a {
    border-bottom: 1px solid #ccc;
    text-decoration:none;
    color:inherit;
    transition: all 200ms linear;
}
table {
  border-collapse: collapse;
}
td, th {
  vertical-align: top;
  padding: 0;
}
th {
  font-weight: normal;
}
/** {outline: none}*/
a:hover /*, *:focus */ {
    border-bottom-color: #333;
}
p, blockquote, ul {
  margin: 0;
}
p, blockquote, div.pmargin {
  margin-bottom:1rem;
  line-height:140%;
}
div.pmargin {
    display:block !important;
}
blockquote {
	font-style: italic;
}
.clearboth {
    clear:both;
}
.inlineblock {
	display: inline-block;
}

/* Header */
header {
    background-size: cover;
    background-position:bottom center;
    height:100%;
}
.inicio header, .cap1 header, .cap2 header, .cap3 header {
    min-height:200px;
}
header .banner {
    text-shadow: #333 0 0 5px;
    height:100%;
}

/* Cuerpo */
.box, div.seccion {
    max-width:960px;
    margin:0 auto;
    display:block;
}
div.seccion {
    margin-top:5rem;
    margin-bottom:5rem;
}
div.seccion:first-of-type {
    padding-top:5rem;
    margin-top:0;
}
h1,h2 {
    font-weight: 300;
    font-size:3rem;
    line-height: 3rem;
    margin-bottom:1rem;
}
h1 a, header h2 a {
	border-bottom: 0;
}
.fondob, .siguiente .container {
   background-color: rgba(0,0,0,.6);
}

p {
    font-size:1rem;
}
p.subtitle {
    font-weight:400;
    font-size: 1.2rem;
    line-height: 1.8rem;
    max-width:600px;
}
.subtitle a, .creditos a {
    border-bottom-color: gray;
}
.subtitle a:hover, .creditos a:hover {
   border-bottom-color: currentColor;
}
footer {
    margin-top:8rem;
    margin-bottom:10rem;
}
footer p.copyright {
    text-transform:uppercase;
    font-weight: 400;
    margin-top:2rem;
}
.seccion > p, .seccion > blockquote, .seccion > hr, .seccion > h3, footer > .box {
    max-width: 600px;
}
.seccion > p, .seccion > blockquote, .seccion > hr, .seccion > h3 {
    margin: 0 0 1rem auto;
}
.seccion > p, .seccion > blockquote, .entrevista p, .p-size {
	font-size:1.2rem;
	line-height: 1.7rem;
}
.entrevista p:last-of-type {
    margin-bottom: 0;
}
.seccion > p.p-big {
    font-size: 2rem;
    line-height: 2.4rem;
    margin: 0 auto 64px;
    font-weight: 300;
    max-width: 100%;
}
.seccion.centrada > p, .seccion.centrada > blockquote {
	margin-right:auto;
}
.seccion > hr {
    margin: 5rem 0 5rem auto;
}
.seccion > h3 {
    font-size:2rem;
    margin-top:48px;
    margin-bottom:24px;
}
/*.entrevista {
    background-color:whitesmoke;
    padding:5rem 0;
}
.entrevista .seccion {
    margin-top:0;
    margin-bottom:0;
}
.entrevista .titular {
    font-size:2rem;
    line-height: 2.4rem;
    font-weight: bold;
    margin-top:1rem;
    margin-bottom:2rem;
    font-style: italic;
}
.entrevista .pregunta {
    font-weight: bold;
}
.entrevista img {
    border-radius: 3px;
}*/
/* Banners y parallax */
.banner {
   position: relative;
   background-size: cover;
   color:whitesmoke;
   clear:both;
   background-color:black;
}

/* Fix iPad */
@media only screen and ( max-device-width : 1024px )  {
   .banner {
       background-attachment: scroll !important;
   }
}

.banner .container {
   height:100%;
}
.banner .minititulo::after {
   background-color:whitesmoke
}
.banner.portada {
   height:100%;
}
.content-a {
   width:100%;
   height:100%;
}
.inicio header .content-a, .manana header .content-a {
   height:100vh;
}
/*.parallax-banner .content-bg {
   background-color: rgba(255,255,255,.5);
}*/
.parallax-banner .container {
   height:100%;
}
/* content centering styles */
.content-a {
    display:table;
}
.content-b {
    display:table-cell;
    position:relative;
    vertical-align:middle;
}

/* visual styles */
body{
    margin:0;
}
section {
    background:#9ed100;
}
.not-fullscreen {
    height:100%;
}

.img-caption {
	font-size:.8rem;
	text-align: right;
	margin:10px 0;
}
.banner .img-caption {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: .8rem;
    margin:0;
    padding-left:20px;
}
.img-caption a {
    border-color:#333;
    transition:none;
}
.img-caption-copyright {
   text-transform: uppercase;
   font-size: .9em;
   margin-top: 5px;
}

/* SIDE */
.side {
    display: block;
    width: 300px;
    float: left;
    margin-bottom:2rem;
    min-height:85px
}
/*.side.card {
	padding:1.5rem 1.5rem .5rem;
	box-shadow:0 1px 2px #aaa;
	background:white;
	border-radius:3px;
	box-sizing: border-box;
}*/

/* Fondos */
.inicio .banner {
   background-image: url(../img/castillete.jpg);
   background-position: center;
}

/* Capítulo 0: inicio */
.side.index > div {
   float:left;
}
.cap0-cuencas .mapa {
   float:left;
}
.cap0-cuencas .side {
   float:right;
}
.cap0-cuencas .dato {
   margin-bottom:2rem;
}
.cap0-cuencas .dato-numero {
	font-size:1.5rem;
	margin-bottom:.5rem;
}
.cap0-cuencas .dato-fuente {
	font-size:1em;
   font-style: italic;
}
.soundcite-play:before, .soundcite-pause:before {
   font-size: 0.8em !important;
   top: 0 !important;
}
.soundcite-loaded:before {
   vertical-align: 0% !important;
   margin-right: 0 !important;
   margin-left: .2em !important;
}
/* Gráficos */
.grafico-creditos {
   font-size: .8em;
   font-style: italic;
   margin-top:2rem;
}

/* Capítulo 1 */
.banner-video {
   background-color:black;
}
.banner-video .side, .banner-tabla .side {
   padding: 36px 0;
   margin-bottom: 0;
}
.banner-tabla .side {
   padding-top: 0;
}
.banner-video .side {
   color: whitesmoke;
}
.banner-video .side blockquote {
   font-size: 1.3em;
}
.banner-video .video, .banner-tabla .tabla, .cap0-cuencas .mapa {
   max-width:600px;
   margin-left:auto;
   margin-right:0;
}

/* Capítulo 2 */
.side.doc p {
   margin-bottom: .5rem;
}
.side.doc p.doc-titulo {
   font-weight: bold;
}
.side.doc p.doc-meta {
   font-size: .8rem;
   text-transform: uppercase;
}
.side.doc .doc-img {
   width: 60px;
   position: relative;
   float:left;
   margin-top: 5px;
   margin-right:20px;
   margin-bottom:24px;
   height:100%;
}
.side.doc .doc-img::after {
    display: block;
    background: url(../img/doc-icon.svg);
    content: ' ';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}
.side.doc .doc-img img {
   width: 100%;
   display: block;
}

.dos {margin-top:5rem;margin-bottom:6rem;}
.dos .dos-bloque {width:47%; float:left;}
.dos .dos-bloque:first-of-type {margin-right:6%}

.tres {margin-top:5rem;margin-bottom:6rem;}
.tres .tres-bloque {width:30.666%; float:left;margin-right:4%}
.tres .tres-bloque:last-of-type {margin-right:0%}

.cita blockquote {font-size:1.7rem;}

/*.banner-tabla table {
   margin-right:auto;
   margin-left:0;
}*/

/* Capítulo 2 */
.clearboth-after::after {
   display:block;
   content:" ";
   clear:both;
}

.entrev-b {
   background-color: black;
   color:whitesmoke;
}
.entrev-b blockquote {
   font-size:1.7rem;
   text-transform: italic;
   padding:2rem;
   background-color:whitesmoke;
   color:#333;
   margin-bottom:0;
   transition: 500ms ease;
}
.entrev-b.button-link-hover blockquote {
   background-color: #ccc;
}
.entrev-b img {
   float:left;
   width:26%;
   margin-right:4%
}
.entrev-b-prendes img {
   float:right;
   margin-right:0;
   margin-left:4%;
}
.entrev-b .entrev-b-datos {
   margin: 0 4%;
   padding: 4% 0;
}
.entrev-b-banner .dos-bloque {
   width:48%;
}
.entrev-b-banner .dos-bloque:first-of-type {
   margin-right:4%;
}
.entrev-nombre {
   font-weight: bold;
   margin-bottom:.2rem;
}

/* Capítulo 2: entrevistas */

.entrevista .box {max-width:600px;}
.entrevista .box.container {
   padding-top:6rem;
   padding-bottom:6rem;
}
.entrevista header {margin-bottom:4rem}
.entrevista h2 {margin-bottom:3rem}
.entrevista blockquote {
   font-size:1.6rem;
   margin:3rem;
   text-align:center;
   width: 50%;
}
.entrevista blockquote:nth-of-type(odd) {
   margin-left: -25%;
   float: left;
}
.entrevista blockquote:nth-of-type(even) {
   margin-right: -25%;
   float: right;
}
.entrevista p.pregunta {
   font-weight: bold;
}
/*.entrevista .entrev-b {
   font-size:1.2rem;
}*/

/* Capítulo 3 */
.box.epilogo {
   min-height: 300px;
   background: black;
}
hr.separador {
  margin-top:6rem;
  margin-bottom:6rem;
  border:0;
}
hr.separador::after {
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 0;
  width: 48px;
  height: 2px;
  background-color: #333;
  content: " ";
}

.cap3-graficos {
   margin-bottom:5rem;
}
.cap3-graficos .grafico-creditos {
   margin-top:1rem;
   margin-bottom: 0;
}

/* Fin capítulos */

.side h3, .minititulo {
	font-size:1.3rem;
	font-weight: 400;
	margin-bottom:1.2rem;
	text-transform: uppercase;
}
.side.index ul {
    list-style: none;
    padding: 0;
}
.side.index li {
   font-family: "Old Standard TT", serif;
   font-style:italic;
   margin-bottom: 12px;
}
.side-index-entrevistas h3 {
   margin-top: 3rem;
}
.ul_centered li {
	margin-bottom: .8em;
	text-align: center;
}
hr {
	border:0;
	border-top:1px solid #ddd;
	margin:1.2rem 0;
}

.side h3::after, .minititulo::after {
    display: block;
    margin: 12px 0;
    width: 48px;
    height: 2px;
    background-color: #333;
    content: " ";
}
h3.caption {
    max-width:inherit;
}

.social  {display: block;}
.social > div {display: inline-block;}
.social a:hover {
   text-decoration: none !important;
}
.fb_iframe_widget_fluid {
  display: inline-block !important;
}
.share-button {
	margin-right:1rem;
	float:left;
   margin-bottom:1rem;
   height:20px;
}
.share-button:last-of-type {
   margin-right:0;
}
nav .social {
   float:right;
}
nav .share-button {
   margin-bottom: 0;
   margin-top: 2px;
}
.fb-share-button.fb_iframe_widget > span {
   vertical-align: initial !important;
}

/* Otras cosas */
h3 {
   font-size:2rem;
}
abbr {
   cursor: help;
}

/* Infografías */
.tableauembed iframe {
    border: 0;
}
.tableauembed {
    width: 100%; /* whatever width you want */
    display: block;
    position: relative;
}
/* Keep aspect ratio */
.keepaspectratio-out {
    width: 100%; /* whatever width you want */
    display: block;
    position: relative;
}
.keepaspectratio-out:after {
    padding-top: 100%; /* aspect ratio */
    display: block;
    content: '';
}
.keepaspectratio-out.square:after {
    padding-top: 100% !important; /* aspect ratio */
}
.keepaspectratio-out.planta14:after {
    padding-top: 75% !important; /* aspect ratio */
}
.keepaspectratio-out.epilogo:after {
    padding-top: 35% !important; /* aspect ratio */
}
.keepaspectratio-out.ratio-16-9:after {
    padding-top: 56% !important; /* aspect ratio */
}
.keepaspectratio-in {
    position: absolute !important;
    top: 0; bottom: 0; right: 0; left: 0; /* fill parent */
    width: 100%;
    height: 100%;
}
.boton {
   display:inline-block;
   width:auto;
   padding:4px 6px;
   border: 1px solid white;
   border-radius: 4px;
}
.boton:hover {
   background-color:rgba(255,255,255,.3);
   border-color:white;
}
.entrev-b .boton {
   margin-top: 2%;
   font-size:.9rem;
}
.boton-negro,.boton-negro:hover {
   border-color:#333;
}
.boton-negro:hover {
   background-color:rgba(0,0,0,.1);
}
.entrevista-boton-volver {
   margin:3rem 0 2rem;
}
/* Inicio */
.keepaspectratio-out.banner1 {
   min-height:100%;
}
.keepaspectratio-out.banner1:after {
   padding-top: 100% !important; /* 56.25% aspect ratio */
}
.seccion p:last-of-type {
    margin-bottom:0;
}

/* Línea temporal */
.tl-timeline, .tl-text .tl-headline-date, .tl-text h3.tl-headline-date, .tl-timenav-slider h2 {font-family: Lato, sans-serif !important;}
/*.tl-slide-content {width: 100% !important;}*/
.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container {display:none;}
.tl-media-shadow {box-shadow: none !important;}
.tl-timeline a, .tl-timeline p a {
   text-decoration: inherit !important;
   color:inherit !important;
}

.fullwidth  {margin-top:72px;margin-bottom: 72px}

/* Menú */
.top-nav {
    background:black;
    color:whitesmoke;
    padding: 14px 0 10px;
    position: fixed;
    width:100%;
    z-index: 1000;
    font-size:16px;
}
.top-nav h1, .top-nav ul {
    display:inline;
    font-size:1em;
}
.top-nav h1 {
   line-height: normal;
}
.top-nav h1, .top-nav li {
    margin-right: 20px;
}
.top-nav h1::after {
   content:":";
}
.top-nav li {
    display: inline;
    font-style: italic;
}
.top-nav li:last-of-type {
   margin-right:0;
}
.top-nav a {
    border-bottom: none;
    border-bottom-color: transparent;
}
.top-nav-button {
   display:none;
}
nav a {
  transition: all .25s ease;
}
.top-nav ul {
   margin-top: 8px;
   padding-left: 0;
}

body.inicio .top-nav .inicio a,
body.cap1 .top-nav .cap1 a,
body.cap2 .top-nav .cap2 a,
body.cap3 .top-nav .cap3 a,
.top-nav a:hover
{
    border-bottom: 1px solid #ccc !important;
}

@media screen and (max-width:800px) {
   .tabla .overflow {
      overflow:scroll;
   }
}
/* Otros */

body.inicio hgroup.header, .bloquederecha {
   max-width: 600px;
   margin-left: auto;
}

/* IE8 + noscript */
.warning {
	background-color:#E68D96;
	padding:12px 6%;
	text-align:center;
}
.warning a {
	border:none;
	text-decoration: underline;
}

/* Botón Siguiente */
.siguiente {
   background-attachment:fixed;
   height:60%;
   position:relative;
}
/* Créditos */
.creditos {
   background-color:black;
   color:whitesmoke;
   padding:72px 0 96px;
}
.creditos .box {
   max-width:600px;
   margin: 0 auto;
}

/* Top nav */
#top-nav-button {
  width: 20px;
  height: 15px;
  position: relative;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#top-nav-button span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: whitesmoke;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#top-nav-button span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

#top-nav-button span:nth-child(2) {
  top: 6px;
  transform-origin: left center;
}

#top-nav-button span:nth-child(3) {
  top: 12px;
  transform-origin: left center;
}

#top-nav-button.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -1px;
  left: 3px;
}

#top-nav-button.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#top-nav-button.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
  left: 3px;
}

/* Responsive */

/* Tablet */

@media screen and (min-width:1000px) {
   .margin-top-small {
      margin-top:2rem !important;
   }
   .entrevista .entrev-b img {
      margin-left:-26%;
   }
   .entrevista .entrev-b-prendes img {
      margin-right:-26%;
   }
}
@media screen and (max-width:1000px) {
   .top-nav h1::after {display:none}
   .top-nav ul {display:none}
   .top-nav li {
      display:block;
   }
   .top-nav-button {
      display:block;
      background: transparent;
      color:inherit;
      border:0;
      float:right;
      height: 20px;
      outline:none;
      margin-top: 1px;
   }
   .top-nav .social {
      float:none;
      margin-top: 1rem;
   }

   .seccion > p, .seccion > blockquote, .seccion > hr, .seccion > h3, footer > .box
   body.inicio hgroup.header, .bloquederecha,
   .side,
   .banner-video .side,
   .banner-tabla .side,
   .banner-tabla h3,
   .cap0-cuencas .side,
   .cap0-cuencas .mapa,
   .cap0-cuencas h3,
   .banner-video .video, .banner-tabla .tabla  {
      margin-left: auto;
      margin-right: auto;
   }
    .box, .seccion, .fullwidth {
        padding-left:6%;
        padding-right:6%;
    }
    .box.mobilefullwidth {
        padding-left:0;
        padding-right:0;
    }
    .side {
    	margin:3rem 0 3rem auto;
    }
    .tableauembed:after {
        padding-top: 100% !important; /* aspect ratio */
    }
    .side,
    .banner-video .side,
    .banner-tabla .side,
    .banner-tabla h3,
    .cap0-cuencas .side,
    .cap0-cuencas .mapa,
    .cap0-cuencas h3 {
      float: none;
      text-align: left;
      max-width: 600px;
      margin-left: auto;
      width: 100%;
      margin-right:auto !important;
    }
    .banner-tabla table {
       width:100%;
       max-width:100%;
    }
    .entrevista blockquote {
      width:100%;
      float:none !important;
      margin:3rem 0 !important;
   }
   .entrevista h1 {
      display:none;
   }
   .side.index {
      float:none;
      width:100%;
   }
   .dos .dos-bloque::after, .tres .tres-bloque::after {
      display:block;
      content:"";
      clear:both;
   }
   .inicio .banner {
      background-position: left;
   }
   .inicio hr.separador {
      display:none;
   }
   .entrevista nav .social {display:none}
}

/* SOLO tablets grandes */
@media screen and (max-width:1000px) and (min-width:720px) {
   .side.index h3 {margin-top:0}
   .side.index > div:first-of-type {margin-right:4rem}
}

/* Tablets pequeñas */
@media screen and (max-width:720px) {
   .dos .dos-bloque, .tres .tres-bloque {
     float: none !important;
     text-align: left;
     max-width: 600px;
     margin-left: auto;
     width: 100% !important;
     margin-right: auto !important;
   }
   .dos .dos-bloque:first-of-type,
   .tres .tres-bloque:first-of-type,
   .tres .tres-bloque:nth-of-type(2) {
     margin-bottom:2rem;
   }
   .side.index > div {float:none;}
}

/* SOLO tablets */
@media screen and (max-width:1000px) and (min-width:520px) {
   .tres {
      max-width:600px;
   }
   .tres .tres-bloque {
      float:none;
      width:100%;
   }
   .tres .tres-bloque:nth-child(1)::after,
   .tres .tres-bloque:nth-child(2)::after {
      margin-bottom:3rem;
   }
   .tres-bloque-caption, .tres-bloque-grafico {
      float:left;
      width:60%;
   }
   .tres-bloque-caption {
      width:34%;
      margin-right:6%
   }
}

/* Phone */
@media screen and (max-width:460px) {
    html {
        font-size:85%;
    }
    .banner, footer, .creditos {
        text-align:left;
    }
    .banner-tabla div.side {
      margin: 0;
      padding-top: 0;
    }
    .seccion > p.p-big {
        font-size:1.6rem;
        line-height: 2rem;
    }
    h1,h2 {
    	font-size:2.6rem;
    }
    .img-caption {
    	right: 6%;
	}
   .tabla-partidos span.tabla-th-abreviar {
      display:none;
   }
   .inicio hr.separador {
      display:none;
   }
}

@media screen and (min-width:1400px) {
	.fullscreen, .not-fullscreen {height:70% !important;}
}

.cap2 .siguiente, .manana .banner {
   filter: grayscale(1);
}
.button-link-hover:hover {
   cursor:pointer;
}
.siguiente .container, .button-link {
   transition: ease 500ms;
}
.button-link-hover .container:hover {
    background-color: rgba(0,0,0,.8);
}

#top-nav,#caja,#texto,#autor,#manana-texto {display:none}

@media screen and (max-width:800px) {
   .manana header .fondob {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+33,e5e5e5+66&amp;0.6+0,0.6+33,0+66 */
      background: linear-gradient(to bottom,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 33%,rgba(229,229,229,0) 66%); /* W3C */
   }
   .manana .banner {
      filter: grayscale(0);
      background-position: 30%;
   }
}
