RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://tierranegra.ruitina.com/$1 [R=301,L]
