<!DOCTYPE html>
<html lang="{{ siteData.locale }}">

<head>
    <title>{{ pageTitle or siteData.name }}</title>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta charset="utf-8" />
    <meta content="width=device-width,initial-scale=1,user-scalable=0" name="viewport" />
    <meta content="yes" name="mobile-web-app-capable" />
    <meta name="description" content="{{ description }}">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="/assets/img/icon/launcher-icon-4x.png">

    <link rel="canonical" href="{{ siteData.url }}{{ page.url }}" />

    <meta property="og:locale" content="{{ siteData.locale }}" />
    <meta property="og:title" content="{{ pageTitle or siteData.name }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ siteData.url }}/assets/img/{{ socialimg or "castillete.jpg" }}" />
    <meta property="og:description" content="{{ socialDescription or Description }}" />
    <meta name="author" content="Juan Ruitiña" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="{{ bodyClass }}">
   {% if "entrevista-" in page.url %}
       {% include 'partials/top-nav-entrevistas.html' %}
   {% elseif page.url != "/" %}
    {% include 'partials/top-nav.html' %}
    {% endif %}

    {{ content | safe }}

    <script src="/js/jquery.min.js"></script>
    <script src="/js/script.js"></script>
    <script type='text/javascript' src="https://cdn.knightlab.com/libs/soundcite/latest/js/soundcite.min.js"></script>
</body>

</html>